
span {
    margin-left: 1rem;
    margin-top: 1rem;

}
input  {
    width: 150px;
}

button {
    display: flex;
    width: 200px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
    justify-items: center ;
    justify-content: center;
}

i{
    margin-left: 5px
}
.userId:before,
.userId:after{
    content: '';
    width: 10px;
    height: 3px;
    background-color: black;
    position: absolute;
}
.userId:before{
    left: 10px;
    top: 15px;
    transform: rotate(45deg);
}
.userId:after{
    left: 15px;
    top: 15px;
    transform: rotate(-45deg);
}

input {
    display: inline-flex;
    width: 50%;
}
.buttonAdd {
    margin-left: 50px;
}
.inputS{
    display: block;
}
.add {
    display: none
}